<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <title>BUGAMED</title>
</head>
  <header>
    <nav id="myTopnav">
      <div class="navbar-links">
        <img src="assets/images/buga-logo.png" alt="">
        <div class="search-container">
          <form action="#">
            <input type="text" placeholder="Enter Part Number or Part Name" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <a href="#home">Home</a>
        <a href="#catalog">Parts Catalog</a>
        <a href="#why">Why Bugamed</a>
        <a href="#about">About</a>
        <a href="#contact">Contact Us</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </nav> 
  </header>
<body>
</body>
</html>
<script>
  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "nav") {
    x.className += " responsive";
  } else {
    x.className = "nav";
  }
}
</script>