<!DOCTYPE html>
<html lang="tr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Bugamed Care provides MRI, CT, and X-ray equipment parts and technical services. We supply Philips, Siemens, GE, and Toshiba components with fast delivery and expert support."
		/>

		<title>BugaMed - MRI & CT Parts | Gallery</title>
		<link rel="shortcut icon" type="png" href="/assets/images/favicon.png" />
		<link rel="stylesheet" href="/assets/css/photos.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<script src="./photo-size.js" defer></script>
	</head>
	<body>
		<header>
			<nav id="navbar" class="nav">
				<div class="navbar-links">
					<img src="assets/images/buga-logo.png" alt="BugaMed Logo" />
					<!-- VERİTABANI HAZIRLANINCA KULLANILACAK
				<div class="search-container">
					<form action="#">
						<input type="text" placeholder="Enter Part Number or Part Name" name="search" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			-->
					<a href="/">Home</a>
					<a href="/parts-catalog">Parts Catalog</a>
					<a href="/why">Why Bugamed</a>
					<a href="/about">About</a>
					<a href="/contactus">Contact Us</a>
					<a href="/photos" class="active">Gallery</a>

					<a href="javascript:void(0);" class="icon" onclick="navFunction()">
						<i class="fa fa-bars"></i>
					</a>
				</div>
			</nav>
		</header>

		<div class="gallery-container">
			<div class="gallery-item">
				<img src="../assets/images/galeri/rf1.jpeg" alt="Image 1" onclick="openModal(this)" />
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf2.jpeg"
					alt="Image 2 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf3.jpeg"
					alt="Image 3 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf4.jpeg"
					alt="Image 4 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf5.jpeg"
					alt="Image 5 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf6.jpeg"
					alt="Image 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf7.jpeg"
					alt="Image 7 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf8.jpeg"
					alt="Image 8 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf9.jpeg"
					alt="Image 9 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf10.jpeg"
					alt="Image 10 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf11.jpeg"
					alt="Image 11 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf12.jpeg"
					alt="Image 12 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf13.jpeg"
					alt="Image 13 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf14.jpeg"
					alt="Image 14 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf15.jpeg"
					alt="Image 15 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf16.jpeg"
					alt="Image 16 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf17.jpeg"
					alt="Image 17 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf18.jpeg"
					alt="Image 18 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf19.jpeg"
					alt="Image 19 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf20.jpeg"
					alt="Image 20 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf21.jpeg"
					alt="Image 21 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf22.jpeg"
					alt="Image 22 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf23.jpeg"
					alt="Image 23 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf24.jpeg"
					alt="Image 24 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf25.jpeg"
					alt="Image 25 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf26.jpeg"
					alt="Image 26 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf27.jpeg"
					alt="Image 27 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf28.jpeg"
					alt="Image 28 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf29.jpeg"
					alt="Image 29 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf30.jpeg"
					alt="Image 30 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf31.jpeg"
					alt="Image 31 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf32.jpeg"
					alt="Image 32 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf33.jpeg"
					alt="Image 33 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf34.jpeg"
					alt="Image 34 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf35.jpeg"
					alt="Image 35 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf36.jpeg"
					alt="Image 36 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf37.jpeg"
					alt="Image 37 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf38.jpeg"
					alt="Image 38 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf39.jpeg"
					alt="Image 39 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf40.jpeg"
					alt="Image 40 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf41.jpg"
					alt="Image 41 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf42.jpg"
					alt="Image 42 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf43.jpg"
					alt="Image 43 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf44.jpg"
					alt="Image 44 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">RF</div>
			</div>
		</div>

		<div id="myModal" class="modal">
			<span class="close" onclick="closeModal()">&times;</span>
			<img class="modal-content" id="modalImage" />
			<div id="caption" class="caption-text"></div>
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>

		<footer>
			<div class="footer-content">
				<div class="contact-info">
					<h3>Contact</h3>
					<p><i class="fa fa-phone"></i> Tel: <a href="tel:+905367210565">+90 536 721 05 65</a></p>
					<p>
						<i class="fa fa-envelope"></i> Email:
						<a href="mailto:bugamedical@gmail.com">bugamedical@gmail.com</a>
					</p>
				</div>
				<div class="copyright">
					<p>&copy; 2025 BugaMedical. Siemens, Philips, GE | MRI, CT, X-Ray Parts and Services.</p>
				</div>
			</div>
		</footer>
	</body>
</html>
