<!DOCTYPE html>
<html lang="tr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Modern Fotoğraf Galerisi</title>
		<link rel="stylesheet" href="/assets/css/photos.css" />
	</head>
	<body>
		<header>
			<h1>Fotoğraf Galerim</h1>
			<p>En Güzel Anılarım</p>
		</header>

		<div class="gallery-container">
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf1.jpeg"
					alt="Görsel 1 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Harika Bir Manzara</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf2.jpeg"
					alt="Görsel 2 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Doğanın Renkleri</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf3.jpeg"
					alt="Görsel 3 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Şehrin Işıkları</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf4.jpeg"
					alt="Görsel 4 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Soyut Sanat</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf5.jpeg"
					alt="Görsel 5 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Minimalist Tasarım</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf6.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf7.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf8.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf9.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf10.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf11.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf12.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf13.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf14.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf15.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf16.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf17.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf18.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf19.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf20.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf21.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf22.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf23.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf24.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf25.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf26.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf27.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf28.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf29.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf30.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf31.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf32.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf33.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf34.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf35.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf36.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf37.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf38.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf39.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf40.jpeg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf41.jpg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf42.jpg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf43.jpg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
      			<div class="gallery-item">
				<img
					src="../assets/images/galeri/rf44.jpg"
					alt="Görsel 6 Açıklaması"
					onclick="openModal(this)"
				/>
				<div class="image-caption">Gün Batımı Keyfi</div>
			</div>
		</div>

		<div id="myModal" class="modal">
			<span class="close" onclick="closeModal()">&times;</span>
			<img class="modal-content" id="modalImage" />
			<div id="caption" class="caption-text"></div>
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>

		<footer>
			<div class="footer-content">
				<div class="contact-info">
					<h3>İletişim</h3>
					<p>
						<i class="fa fa-phone"></i> Telefon: <a href="tel:+90XXXXXXXXXX">+90 536 721 05 65</a>
					</p>
					<p>
						<i class="fa fa-envelope"></i> E-posta:
						<a href="mailto:info@sirketiniz.com">bugamedical@gmail.com</a>
					</p>
				</div>
				<div class="copyright">
					<p>&copy; 2025 BugaMedical. Tüm hakları saklıdır.</p>
				</div>
			</div>
		</footer>

		<script src="../components/photos.js"></script>
	</body>
</html>
